/* PROJECTS STYLING */

/* Halfway Project Styling */

html {
  scroll-behavior: smooth;
}

/* First Section Styling */

.heading-div {
  margin: 105px auto;
  margin-top: 105px;
  margin-bottom: 50px;
}

.heading-div h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  line-height: 1.5;
}

.menu {
  margin: -25px auto;
}

.menu ul {
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}

.menu ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu ul li a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(219, 211, 211);
  transition-timing-function: ease-in;
  transition: 0.5s;
  transition-timing-function: ease-out;
  transition: 0.5s;
}

.hw-image-one {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1199.98px) {
  .heading-div {
    margin: 105px auto;
    margin-top: 105px;
    margin-bottom: 50px;
  }

  .heading-div h1 {
    font-size: 2.5rem;
  }
}

.hw-image-one {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Second Section */

.second-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 105px;
}

.second-section-container h2 {
  max-width: 380px;
  margin: 25px auto;
}

.second-section-container p {
  max-width: 380px;
  margin: 0 auto;
}

.second-section-container-info,
.second-section-container-image {
  margin: 0 auto;
}

.info-two {
  margin-top: 25px;
}
@media (max-width: 991.98px) {
  .info-one h4,
  .info-two h4 {
    max-width: 550px;
    margin: 10px auto;
  }

  .info-one p,
  .info-two p {
    font-size: 1rem;
    max-width: 550px;
    margin: 0 auto;
  }

  .second-section-container-image img {
    width: 99%;
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1199.98px) {
  .second-section-container {
    margin: 0 0;
    display: block;
    text-align: left;
    margin: 0px auto;
    padding: 0 45px;
  }

  .second-section-container-image {
    display: block;
    margin: 25px auto;
    text-align: center;
  }

  .second-section-container h2 {
    max-width: 550px;
  }

  .info-one h4,
  .info-two h4 {
    max-width: 550px;
    margin: 10px auto;
  }

  .info-one p,
  .info-two p {
    max-width: 550px;
  }
}

/* Third Section */

.third-section-container {
  background-color: #e7e7f6;
  margin: 105px auto;
  padding: 145px;
  display: block;
}

.third-section-container-info {
  margin: 0 auto;
}

.third-section-container-info h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  line-height: 1.5;
}

.third-section-container-info p {
  margin: 50px auto;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  .third-section-container {
    background-color: #e7e7f6;
    margin: 105px auto;
    padding: 45px;
    display: block;
  }
}

/* Fourth Section */

.fourth-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 105px;
  padding: 0 35px;
}

.fourth-section-container h1 {
  max-width: 380px;
  margin: 25px auto;
}

.fourth-section-container p {
  max-width: 380px;
  margin: 0 auto;
}

.fourth-section-container-image img {
  width: 100%;
  height: 100%;
}

.fourth-section-container-info,
.fourth-section-container-image {
  margin: 0 auto;
}

.info-two {
  margin-top: 25px;
}
@media (max-width: 991.98px) {
  .info-one h4,
  .info-two h4 {
    max-width: 550px;
    margin: 10px auto;
  }

  .info-one p,
  .info-two p {
    font-size: 1rem;
    max-width: 550px;
    margin: 0 auto;
  }

  .fourth-section-container-image img {
    width: 99%;
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1199.98px) {
  .fourth-section-container {
    margin: 0 0;
    display: block;
    text-align: left;
    margin: 0px auto;
    padding: 0 45px;
  }

  .fourth-section-container-image {
    display: block;
    margin: 25px auto;
    text-align: center;
  }

  .fourth-section-container h2 {
    max-width: 550px;
  }

  .info-one h4,
  .info-two h4 {
    max-width: 550px;
    margin: 10px auto;
  }

  .info-one p,
  .info-two p {
    max-width: 550px;
  }
}

/* Fifth Section */

.fifth-section-container {
  background-color: #e7e7f6;
  margin: 105px auto;
  padding: 145px;
  display: block;
}

.fifth-section-container-info {
  margin: 0 auto;
  max-width: 600px;
}

.fifth-section-container-info h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  line-height: 1.5;
}

.fifth-section-container-info p {
  margin: 50px auto;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  .fifth-section-container {
    background-color: #e7e7f6;
    margin: 105px auto;
    padding: 45px;
    display: block;
  }
}

.container-three h1 {
  margin: 115px 35px;
}

.container-three p {
  max-width: 380px;
  letter-spacing: 0.00464286em;
}

.splitshow-container {
  margin: 55px 0;
}

.splitshow-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 0 465px; */
  margin: 55px auto;
  width: 80%;
}
.col {
  flex: 0 0 0%;
}
.image-col-left,
.image-col-right {
  display: block;
  padding: 50px;
}

.image-col-left p,
.image-col-right p {
  text-align: center;
  margin: 35px auto;
  max-width: 380px;
  padding: 0 45px;
}

.c3-img {
  display: block;
  margin: auto;
  width: 430px;
}

.image-col-left-info {
  margin: 75px 0;
}

.image-col-left-info h2 {
  text-align: left;
  margin: 15px auto;
  max-width: 450px;
  padding: 0px;
}

.image-col-left-info p {
  text-align: left;
  margin: 15px auto;
  max-width: 450px;
  padding: 0 0;
}

@media (max-width: 1199.98px) {
  .hw-image-one {
    margin-bottom: 50px;
  }
  .container-three h1 {
    margin: 30px 0;
    padding: 40px;
  }

  .splitshow-items-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .c3-img {
    display: block;
    margin: auto;
    width: 390px;
  }

  .image-col-left,
  .image-col-right {
    display: block;
    margin: auto;
    padding: 0 0;
  }

  .img-three {
    margin-top: 50px;
  }

  .image-col-left .image-col-right p {
    text-align: left;
    margin: 35px auto;
    max-width: 255px;
  }

  .image-col-left-info h2 {
    margin-top: 75px 0;
  }

  .image-col-left-info {
    margin: -25px 0;
    padding: 50px;
  }
}

/* Fourth Section */

.fourth-section-container {
  margin: 150px 0;
}

.heading-container {
  margin: 0px auto;
  width: 80%;
}

.heading-container-h2 {
  max-width: 285px;
  margin-bottom: 25px;
}

.heading-container-p {
  font-size: 1.5rem;
  max-width: 465px;
}

@media (max-width: 1199.98px) {
  .heading-container {
    margin: 0px auto;
    width: 80%;
  }

  .heading-container-h2 {
    max-width: 285px;
    margin-bottom: 25px;
  }

  .heading-container-p {
    font-size: 1.5rem;
    max-width: 465px;
  }
}

.info-div {
  text-align: center;
  margin: 75px auto;
  width: 50%;
}

.info-div p {
  max-width: 540px;
  margin: 15px auto;
  line-height: 2;
}
/* Footer Styling */

.footer {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #6198f1;
  font-size: 30px;
  transition: 0.5s ease;
  transition-timing-function: linear;
}
