/* Navbar Styling */

/* .navbar-toggler {
  float: left;
} */

/* Homepage Styling */

.homepage-section {
  color: white;
  background-image: url(images/Homepage.png);
  background-repeat: no-repeat;
  background-color: #040a18;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: auto;
}

.homepage-div {
  /* top: 50%;
  left: 50%; */
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
}

.homepage-div h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 3.5rem;
  margin: 10px 0px;
}

.homepage-description {
  font-family: "Work Sans", sans-serif;
  font-weight: light;
  display: block;
  text-align: center;
  font-size: 1rem;
  max-width: 24rem;
  margin: auto;
}

.homepage-div img {
  margin-top: 25px;
  width: 350px;
}

/* Media Query */

@media (max-width: 575.98px) {
  .homepage-div h1 {
    font-size: 2.5rem;
  }

  .homepage-description {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    font-weight: light;
    max-width: 19rem;
    margin: auto;
  }

  .homepage-div img {
    margin: 15px 15px;
    width: 250px;
  }
}

/* About Page Styling */

/* .about-section {
  margin: 100px 0;
} */

.about-container {
  /* max-width: 55rem; */
  margin: auto;
  margin: 55px auto;
  width: 80%;
}

.about-container h1 {
  text-align: center;
  display: block;
  font-size: 3rem;
  margin-bottom: 80px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-content-main h3 {
  font-family: "Work Sans", sans-serif;
  text-align: left;
}
.about-content-main p {
  font-size: 1rem;
  line-height: 1.7;
  margin: 25px auto;
}

.about-skills-main {
  /* margin: 0px 110px; */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  text-align: left;
}
.about-skills-main h3 {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  margin-bottom: 20px;
}

.about-skills-details {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}

.skills-skill {
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
  font-size: 0.9rem;
}

.about-image-container {
  margin: auto auto;
}

.headshot {
  border-radius: 50%;
  width: 230px;
}

/* Media Query */

@media (max-width: 1199.98px) {
  .about-container {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    margin: 100px auto;
  }

  .about-container h1 {
    font-size: 3rem;
    margin-bottom: 45px;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    display: block;
    text-align: left;
    font-size: 0.8rem;
    margin: 0 auto;
    max-width: 400px;
  }

  .about-content-main p {
    font-size: 0.8rem;
    max-width: 25rem;
    line-height: 2;
    margin: 25px auto;
  }

  .about-skills-main {
    margin: 25px 0px;
    text-align: center;
  }

  .skills-skill {
    padding: 0.8rem 0.8rem;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    font-size: 0.8rem;
  }

  .about-image-container {
    margin: 15px auto;
  }
}

@media (min-width: 1199.98px) {
  .skills-skill {
    padding: 0.8rem 0.8rem;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    font-size: 0.8rem;
  }
}

/* Projects Section */

.projects-section {
  /* margin: 100px 0; */
  background-color: rgb(197, 197, 197);
}

.projects-section-container {
  /* text-align: center; */
  /* max-width: 695px; */
  padding: 55px;
}

.projects-section-container h1 {
  text-align: center;
  /* display: block; */
  font-size: 3rem;
  /* margin: 80px auto; */
  /* max-width: 695px; */
}

.projects-section-container p {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  margin: 35px auto;
  max-width: 45rem;
  text-align: center;
}

.card {
  width: 20rem;
  border: 0px;
}

.card-text:last-child {
  margin-bottom: 0;
  margin: 10px;
}
/* .card:hover {
  width: 100px;
  background-color: #040a18;
} */

/* Media Query */

@media (max-width: 1199.98px) {
  .projects-section-container p {
    font-size: 0.8rem;
    max-width: 45rem;
  }

  /* .container {
    flex-direction: column;
  } */
}

/* Contact Section */

.contact-container {
  /* max-width: 55rem; */
  text-align: center;
  margin: 75px auto;
  width: 50%;
}

.contact-container h1 {
  margin-bottom: 25px;
  font-size: 3rem;
}

.contact-container p {
  font-family: "Work Sans", sans-serif;
  max-width: 300px;
  margin: 0 auto;
  line-height: 3;
}

/* Footer Styling */

.footer {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #6198f1;
  font-size: 30px;
  transition: 0.5s ease;
  transition-timing-function: linear;
}
